@charset "utf-8";
/* CSS Document */




/* Art + Design + Tech page */



.allIntroContainer {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	justify-content: center;

}

.allIntroTitle {
	transform: translateX(-1vw); 

}

.allIntroContainer h1 {
	font-family: anisette-std, sans-serif;
	color: white;
	font-weight: bold;
	font-size: 6vw;
	line-height: 0.3vw;
}

.allIntroText {
	width: 70vw;
	margin-left: 15vw;
	transform: translateY(-35px);
}

.allIntroText a {
	color: #868686; !important;
}

.projectsContainer {
	display: flex;
	flex-direction: column;
	width: 100vw;
	
}

.projectInfoContainer p {
	color: white !important;
}



.projectInfoContainer {
	display: flex;
	flex-direction: column;
	margin-left: 10vw;
	width: 35vw;
	align-items: center;
	align-content: center;
	justify-content: center;

}

.projectInfoContainer h2 {
	font-family: Regulator-Nova, sans-serif;
	color: white;
	font-weight: 400;
	font-size: 5vw;
	line-height: 0px;
	width: 80vw !important;
	
}

.projectTypeDate {
	align-content: flex-end;
	justify-content: flex-end;
	margin-top: -15px;
	margin-bottom: 35px;
}

.clickMe {
	justify-content: right;
	font-size: 0.9rem;
}



#fokoroProject {
	background-image: url("../Images/Art+Design+Technology/FokoroTitle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 200px;
	margin-top: 7px;
	filter: grayscale();
	transition: all 0.5s ease-out 0.2s;
	
}


#fokoroProject:hover {
	height: 500px;
	filter: grayscale(0%);
	transition: all 0.5s ease-out 0.1s;

}


#fok {
	display: none;
}




#winterProject {
	background-image: url("../Images/Art+Design+Technology/WinterDreamsTitle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 200px;
	margin-top: 7px;
	filter: grayscale();
	transition: all 0.5s ease-out 0.2s;
	
}


#winterProject:hover {
	height: 500px;
	filter: grayscale(0%);
	transition: all 0.5s ease-out 0.1s;

}


#winter {
	display: none;
}




#personalWebProject {
	background-image: url("../Images/Art+Design+Technology/PersonalWebTitle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	height: 200px;
	margin-top: 7px;
	filter: grayscale();
	transition: all 0.5s ease-out 0.2s;
	
}


#personalWebProject:hover {
	height: 500px;
	filter: grayscale(0%);
	transition: all 0.5s ease-out 0.1s;

}


#personalWeb {
	display: none;
}



#animCalligraphyProject {
	background-image: url("../Images/Art+Design+Technology/AnimatedCalligraphyTitle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	height: 200px;
	margin-top: 7px;
	filter: grayscale();
	transition: all 0.5s ease-out 0.2s;
	
}


#animCalligraphyProject:hover {
	height: 500px;
	filter: grayscale(0%);
	transition: all 0.5s ease-out 0.1s;

}


#animCalligraphy {
	display: none;
}



#muqarnasProject {
	background-image: url("../Images/Art+Design+Technology/MuqarnasTitle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 200px;
	margin-top: 7px;
	filter: grayscale();
	transition: all 0.5s ease-out 0.2s;
	
}


#muqarnasProject:hover {
	height: 500px;
	filter: grayscale(0%);
	transition: all 0.5s ease-out 0.1s;

}


#muq {
	display: none;
}



#mobyDickProject {
	background-image: url("../Images/Art+Design+Technology/MobyDickTitles.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	height: 200px;
	margin-top: 7px;
	filter: grayscale();
	transition: all 0.5s ease-out 0.2s;
	
}


#mobyDickProject:hover {
	height: 500px;
	filter: grayscale(0%);
	transition: all 0.5s ease-out 0.1s;

}


#mobyDick {
	display: none;
}



#thirdScriptProject {
	background-image: url("../Images/Art+Design+Technology/ThirdScriptTitle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 200px;
	margin-top: 7px;
	filter: grayscale();
	transition: all 0.5s ease-out 0.2s;
	
}


#thirdScriptProject:hover {
	height: 500px;
	filter: grayscale(0%);
	transition: all 0.5s ease-out 0.1s;

}


#thirdS {
	display: none;
}



#boardingProject {
	background-image: url("../Images/Art+Design+Technology/BoardingHouseTitle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 200px;
	margin-top: 7px;
	filter: grayscale();
	transition: all 0.5s ease-out 0.2s;
	
}


#boardingProject:hover {
	height: 500px;
	filter: grayscale(0%);
	transition: all 0.5s ease-out 0.1s;

}


#boarding {
	display: none;
}


#passionProject {
	background-image: url("../Images/Art+Design+Technology/PassionLoveTitle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 200px;
	margin-top: 7px;
	filter: grayscale();
	transition: all 0.5s ease-out 0.2s;
	
}


#passionProject:hover {
	height: 500px;
	filter: grayscale(0%);
	transition: all 0.5s ease-out 0.1s;

}


#passion {
	display: none;
}


#conferenceBirdsProject {
	background-image: url("../Images/Art+Design+Technology/ConferenceBirdsTitle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 200px;
	margin-top: 7px;
	filter: grayscale();
	transition: all 0.5s ease-out 0.2s;
	
}


#conferenceBirdsProject:hover {
	height: 500px;
	filter: grayscale(0%);
	transition: all 0.5s ease-out 0.1s;

}


#conferenceBirds {
	display: none;
}


#symphony40Project {
	background-image: url("../Images/Art+Design+Technology/Symphony40Title.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 200px;
	margin-top: 7px;
	filter: grayscale();
	transition: all 0.5s ease-out 0.2s;
	
}


#symphony40Project:hover {
	height: 500px;
	filter: grayscale(0%);
	transition: all 0.5s ease-out 0.1s;

}


#symphony40 {
	display: none;
}


#cosmicSymphonyProject {
	background-image: url("../Images/Art+Design+Technology/CosmicSymphonyTitle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 200px;
	margin-top: 7px;
	filter: grayscale();
	transition: all 0.5s ease-out 0.2s;
	
}


#cosmicSymphonyProject:hover {
	height: 500px;
	filter: grayscale(0%);
	transition: all 0.5s ease-out 0.1s;

}


#cosmicSymphony {
	display: none;
}


#reflectionLonelinessProject {
	background-image: url("../Images/Art+Design+Technology/ReflectionLonelinessTitle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 200px;
	margin-top: 7px;
	filter: grayscale();
	transition: all 0.5s ease-out 0.2s;
	
}


#reflectionLonelinessProject:hover {
	height: 500px;
	filter: grayscale(0%);
	transition: all 0.5s ease-out 0.1s;

}


#reflectionLoneliness {
	display: none;
}



h2 {
	font-family: ubuntu, sans-serif;
	color: white;
	font-weight: 600;
	font-size: 7rem;
	line-height: 1rem;
}


h3 {
	font-family: ubuntu, sans-serif;
	color: white;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1.5rem;
}



.awardsFestivalsExhibtionsContainer {
	width: 70vw;
	margin-left: 15vw;
	margin-top: 100px;
	margin-bottom: 150px;

	
}


.clientsContainer {
	width: 50vw;
	margin-left: 8vw;
	margin-top: 50px;
	margin-bottom: 50px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 15px;
	justify-items: center;
	align-items: center;
}


.clientsContainer img {

}


.festivalsContainer {
	width: 60vw;
	margin-left: 3vw;
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
}

.smallText {
	font-size: 0.9rem;
	line-height: 0rem;
}


footer {
	height: 100px;
}
